/* Variables */
/* mixin */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  color: #000000;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 50px 0;
}

@media (min-width: 1200px) {
  section .container {
    width: 960px;
  }
}

.section-title {
  margin: 30px 0;
}

.section-title h2 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0;
  font-weight: 800;
}

.section-title p {
  text-align: center;
  color: #777777;
  margin: 0;
  font-style: italic;
  font-weight: 400;
}

/* navigation */
.navigation {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
}

.navigation .nav-inner {
  min-height: 100px;
  position: relative;
  width: 100%;
}

.navigation .nav-inner .navbar-brand {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Indie Flower", cursive;
  color: #fed136;
  text-decoration: none;
  font-size: 50px;
  text-align: left;
}

.navigation .nav-inner .navbar-toggler {
  display: none;
}

.navigation .nav-inner ul {
  padding-top: 30px;
  text-align: right;
  list-style-type: none;
  margin: 0;
}

.navigation .nav-inner ul li {
  display: inline-block;
  margin: 5px 10px;
}

.navigation .nav-inner ul li a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.navigation .nav-inner ul li a:hover {
  color: #fed136;
}

/* header */
.splash {
  background: url("../images/intro.jpg") 50% top no-repeat;
  background-size: cover;
  min-height: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.splash .splash-inner {
  text-align: center;
}

.splash .splash-inner h1 {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.splash .splash-inner h2 {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 36px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0 !important;
  background-size: 300% !important;
  transition: all 0.4s;
}

.btn:hover {
  background-position: 0 100% !important;
}

.btn-splash {
  border-color: #fed136;
  background-image: linear-gradient(90deg, #fed136 50%, transparent 50%);
  color: #fed136;
}

.btn-splash:hover {
  color: #fff;
}

.services .services-box {
  text-align: center;
}

.services .services-box i {
  display: inline-block;
  width: 85px;
  height: 85px;
  color: #fed136;
  font-size: 44px;
  text-align: center;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #fed136;
  margin: 10px;
}

.services .services-box h3 {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.services .services-box p {
  text-align: center;
  color: #777777;
}

.portfolio {
  background: #efefef;
}

.portfolio .portfolio-box {
  box-shadow: 0 0 5px #cccccc;
  text-align: center;
  background: white;
  margin-bottom: 40px;
  overflow: hidden;
}

.portfolio .portfolio-box img {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform .25s ease;
}

.portfolio .portfolio-box img:hover {
  transform: scale(1.05);
}

.portfolio .portfolio-box h3 {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
}

.portfolio .portfolio-box p {
  text-align: center;
  margin-top: 0;
  color: #777777;
  padding-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */